@use "../../../../styles/variables";
@use "../../../../styles/mediaQueries";
@use "../../../../styles/colors";
@use "../../../../styles/fonts";

@mixin placeholder-transform-styles {
    top: -8px;
    font-size: fonts.$fontSize12;
    color: colors.$default;
}

.inputWrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid colors.$yellow;
    padding-bottom: 4px;

    .placeholder {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        pointer-events: none;
        color: colors.$darkGray;
        @include variables.transition-styles(all);
    }

    &.focused .placeholder {
        @include placeholder-transform-styles;
    }

    input, textarea {
        outline: none;
        width: 100%;

        &.focused .placeholder,
        &:focus + .placeholder,
        &:not(:placeholder-shown) + .placeholder,
        &:-webkit-autofill + .placeholder {
            @include placeholder-transform-styles;
        }
    }
}