@use "../../../../styles/variables";
@use "../../../../styles/mediaQueries";
@use "../../../../styles/colors";

.layout {
  display: flex;
  flex-direction: column;
  border: 1px solid colors.$gray;
  padding: variables.$itemOffset * 2;
  margin: variables.$itemOffset * 2;
  background: colors.$transparent;
  &.end {
    background: colors.$transparent;
  }
  &.offers {
    border: 6px solid colors.$green;
  }

  .line {
    display: flex;
  }

  .stop {
    display: flex;
    flex-direction: column;
    border: 1px solid colors.$green;
    padding: variables.$itemOffset;
    margin: variables.$itemOffset;
  }
}