@use "../../../../styles/variables";
@use "../../../../styles/mediaQueries";
@use "../../../../styles/colors";

.layout {
  border: 2px solid colors.$darkGray;
  background: colors.$green;
  padding: (variables.$itemOffset * 2);

  .params {
    background: colors.$orange;
  }
}