@use "../../../../styles/variables";
@use "../../../../styles/mediaQueries";
@use "../../../../styles/colors";

.layout {
  display: flex;
  flex-direction: column;
  padding: variables.$itemOffset * 5;

  .line {
    display: flex;
  }

}