@use "../../../../../styles/variables";
@use "../../../../../styles/mediaQueries";
@use "../../../../../styles/colors";
@use "../../../../../styles/fonts";

.placeName {
  display: flex;
  width: 100%;
  flex: 1;
  align-items: center;
  font-weight: fonts.$fontWeightSemiBold;
  cursor: text;

  &.autocomplete {
    min-width: 144px!important;
    padding: 0;
    border: none;
    & > * {
      flex: 1;
    }
  }

  .placeNameInner {
    flex: 1 1 0;
    min-width: 0;
    @include variables.ellipsis();
  }
}