$red: #C6081E;
$gray: #D2D5E5;
$green: #16C15B;
$yellow: #ffea00;
$black: #000000;
$white: #FFFFFF;
$orange: #F0A703;
$blue: #3D477C;

$default: #000000;

$borderColor: #D0D8E6;

$transparent: rgba(255, 255, 255, 0);
