.layout {
  display: flex;
  flex-wrap: wrap;
  .item {
    background: #9AC116;
    padding: 20px;
    margin: 20px;
  }
  .userParams {
    background: #e86464;
    padding: 20px;
    margin: 20px;
  }
}