@use "../../../styles/variables";
@use "../../../styles/mediaQueries";
@use "../../../styles/colors";
@use "../../../styles/fonts";

.layout {
  display: flex;
  .tab {
    display: flex;
    color: colors.$blue;
    &.active {
      color: colors.$black;
      font-weight: fonts.$fontWeightSemiBold;
      border-bottom: 3px solid colors.$blue;
    }
  }
}