@use "../../../../styles/colors";
@use "../../../../styles/variables";

.wrapper {
  position: relative;
  z-index: 0;
  .mapPicker {
    z-index: 1;
    position: absolute;
    right: (variables.$itemOffset * 4);
    top: variables.$itemOffset;
  }
}